{% load static %}
{% load event_tags %}

{% block events_data %}

{% if events %}
    {% for event in events %}
        {% if event.time|et_has_passed %}
        <div class="col s12 m6 l4 past-event" id="{{ event.title }}">
        {% else %}
        <div class="col s12 m6 l4" id="{{ event.title }}">
        {% endif %}
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static "" %}media/events/{{ event.title }}.jpg">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ event.title }}
                    <i class="material-icons right">
                        more_vert
                    </i>
                </span>
                
                <p>{{ event.time}}</p>
                <p>Location: {{ event.location }}</p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">
                  {{ event.title }}
                  <i class="material-icons right">
                      close
                  </i>
              </span>
            
             <p>{{ event.description }}</p>
            </div>
          </div>
        </div>
    {% endfor %}
{% else %}
    <p>No events now, but stay tuned!</p>
{% endif %}

{% endblock %}
