{% load static %}

{% if officers_list %}
    {% for officer in officers_list %}
    <li id="{{ officer.username }}">
        <div class="collapsible-header">
            {{ officer.position }}: {{ officer.name }}
            <i class="material-icons">expand_more</i>
        </div>

        <div class="collapsible-body grey darken-3">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="{% static "media/sample.jpg" %}" alt="" class="circle responsive-img">
                </div>
                <div class="col s10">
                  <span class="black-text">
                      {% if officer.email %}
                      <a href="mailto:{{ officer.email }}"><i class="fa fa-envelope"></i></a>
                      {% endif %}

                      {% if officer.website %}
                      <a href="{{ officer.website }}"><i class="fa fa-globe"></i></a>
                      {% endif %}

                      {% if officer.github %}
                      <a href="{{ officer.github }}"><i class="fa fa-github"></i></a>
                      {% endif %}

                      {% if officer.linkedin %}
                      <a href="{{ officer.linkedin }}"><i class="fa fa-linkedin"></i></a>
                      {% endif %}

                      <br>
                      <p>{{ officer.description }}</p>
                  </span>
                </div>
              </div>
            </div>
          </div>	     
        <div>
    </li>
    {% endfor %}
{% else %}
    <p>This club does not seem to have any officers...</p>
{% endif %}
